.emojiContainer {
    border: 1px solid white;
    padding: 1px 10px 1px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.emojiRemove {
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
}