.headerCell {
  font-weight: bold !important;
  text-align: center !important;
  font-size: 1.2vw !important;
  border-bottom: 1px solid !important;
}

.bodyCell {
  text-align: center !important;
  font-size: 1vw !important;
  border-bottom: 1px solid !important;
}

.tableContainer {
  height: 100%;
}

@media (max-width: 500px) {
    .headerCell {
        font-size: 2.5vw !important;
    }

    .bodyCell {
        font-size: 2vw !important;
    }
}

@media (min-width: 760px) {
    .headerCell {
        font-size: 1.5vw !important;
    }

    .bodyCell {
        font-size: 1.2vw !important;
    }
}

@media (min-width: 1300px) {
    .headerCell {
        font-size: 1.2vw !important;
    }

    .bodyCell {
        font-size: 1vw !important;
    }

}

@media (min-width: 1440px) {
    .headerCell {
        font-size: 1vw !important;
    }

    .bodyCell {
        font-size: 0.8vw !important;
    }

}